@font-face {
  font-family: "Outfit";
  src: url(/Outfit-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", "Open Sans", system-ui;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #0b0f18;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.grass {
  background-color: #7ac74c;
}

.poison {
  background-color: #a33ea1;
}

.fire {
  background-color: #c22e28;
}

.bug {
  background-color: #a6b91a;
}

.water {
  background-color: #6390f0;
}

.flying {
  background-color: #a98ff3;
}

.normal {
  background-color: #a8a77a;
}

.electric {
  background-color: #f7d02c;
}

.ground {
  background-color: #e2bf65;
}

.fairy {
  background-color: #d685ad;
}

.fighting {
  background-color: #ee8130;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #b6a136;
}

.steel {
  background-color: #b7b7ce;
}

.ice {
  background-color: #96d9d6;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.unknown {
  background-color: #68a090;
}

.shadow {
  background-color: #000000;
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    gap: 40px;
    height: auto;
    padding: 20px 6vw;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    width: 90%;
    max-width: 250px;
  }
}

input[type="text"] {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  background-color: #1e2a3a;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

input[type="text"]::placeholder {
  color: #ccc;
}

.appContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 4vw;
}

.appContainer > a {
  list-style: none;
  text-decoration: none;
}

.pokemonContainer {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(135deg, #1e2a3a, #0f141c);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  overflow: hidden;
  cursor: pointer;
}

.pokemonContainer,
.pokemonContainer > * {
  transition: all 0.3s ease-in-out;
}

.pokemonContainer:hover {
  transform: scale(1.05);
}

.pokemonContainer:hover .pokeball {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3),
    inset 0 0 20px rgba(255, 255, 255, 0.1);
}

.pokemonContainer:hover .pokemonId,
.pokemonName,
.pokemonType {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px
    radial-gradient(circle at center, #1e2a3a 40%, #0f141c 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 20px;
  background-color: #0b0f18;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0b0f18;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.pokeball img {
  width: 100%;
  transform: translateY(-20px);
  z-index: 1;
}

.pokemonDetails {
  height: 40%;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.pokemonId {
  font-size: 14px;
}

.pokemonName {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pokemonType {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.type {
  border-radius: 20px;
  padding: 8px 25px;
  text-transform: uppercase;
}

.loadingpokemonId {
  background-color: beige;
  width: 30%;
  height: 30px;
  border-radius: 20px;
}

.loadingpokemonName {
  background-color: beige;
  width: 60%;
  height: 30px;
  border-radius: 20px;
  margin: 15px 0;
}

.loadingpokemonType {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.loadingtype {
  background-color: blue;
  width: 40%;
  height: 30px;
  border-radius: 20px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.pagination button {
  color: #000;
  border: 1px solid #0b0f18;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination button:enabled:hover {
  background-color: #0b0f18;
  color: #fff;
}

.pagination button:disabled {
  background-color: transparent;
  color: #666;
  cursor: default;
}

.pagination span {
  font-size: 14px;
  color: #000;
  opacity: 0.6;
}

@media (max-width: 650px) {
  .pagination {
    flex-direction: column;
    gap: 10px;
  }
  .pagination button {
    width: 100%;
    text-align: center;
  }
  .pagination span {
    font-size: 16px;
  }
}

.pokemon-detail {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0 0 0;
  background: linear-gradient(135deg, #1e2a3a, #0f141c);
  color: #fff;
  position: relative;
  z-index: 1;
}

.pokemon-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previous-pokemon-container,
.next-pokemon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.no-previous-pokemon,
.no-next-pokemon{
  color: #ccc;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  cursor: not-allowed;
}

.next-pokemon,
.previous-pokemon{
  display: flex;
  gap: 10px;
  text-decoration: none;
  padding: 10px 30px;
}

.previous-pokemon-name,
.next-pokemon-name,
.previous-pokemon-id,
.next-pokemon-id {
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
}

.pokemon-detail-name-container{
  text-align: center;
}

.pokemon-detail .id {
  font-size: 28px;
  opacity: 0.7;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-top: 10px;
}

.pokemon-detail .name {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-details-container {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.pokemon-type-container {
  display: flex;
  flex-direction: column;
}

.pokemon-detail .pokemon-types {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}

.abilities-type-title,
.pokemon-type-title {
  font-size: 24px;
  font-weight: 600;
  display: block;
}

.pokemon-each-type {
  padding: 5px 50px;
  border-radius: 10px;
  font-size: 16px;
  flex: 1;
  white-space: nowrap;
  text-transform: capitalize;
}

.abilities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.abilities ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.abilities li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
  max-width: max-content;
  text-transform: capitalize;
}

.pokemon-image {
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.pokemon-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.container-right > * {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.pokemon-stats-moves {
  padding-bottom: 20px;
}

.moves-container,
.stats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.moves-container ul,
.stats-container ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.moves-container li,
.stats-container li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  flex: 1;
  white-space: nowrap;
  text-transform: capitalize;
  max-width: max-content;
}

@media (max-width: 650px) {

  .pokemon-header{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .container-left {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .abilities{
    margin: 0;
  }
  .abilities ul {
    gap: 15px;
  }
  .abilities li {
    margin: 0;
  }
  .pokemon-details-container {
    flex-direction: column;
    align-items: center;
  }
  .pokemon-image {
    margin-block: 40px;
  }
  .container-right {
    width: 90vw;
    align-items: center;
    flex-direction: row;
  }
  .pokemon-stats-moves{
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .moves-container ul,
  .stats-container ul{
    flex-direction: column;
    /* align-items: center; */
  }
}